
.c_logo{
    position: absolute;
    top:0;
    right:20px;
    background-color: white;
}

.logo{
    position: absolute;
    top:0;
}
.bg-black{
    background-color: black;
    padding: 10px;
}

#navbarSupportedContent{
    margin-left: 120px;
}