<div id="login_bg">
  <div class="d-flex justify-content-center">
    <div class="card bg" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">CREATE LEAVE REQUEST</h5>
        <div class="card-text">
          <form #leaveForm="ngForm" (ngSubmit)="onSubmit(leaveForm)">
            <!-- <div class="mb-3" style="padding-top: 20px;">
              <label for="employee" class="form-label">Username</label>
              <input type="text" class="form-control" id="employee" name="employee" placeholder="Enter Employee ID"
                ngModel>
            </div> -->
            <div class="mb-3">
              <label for="s_date" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="s_date" name="s_date" placeholder="Enter Start Date"
                ngModel>
            </div>
            <div class="mb-3">
                <label for="e_date" class="form-label">End Date</label>
                <input type="date" class="form-control" id="e_date" name="e_date" placeholder="Enter End Date"
                  ngModel>
              </div>
              <div class="mb-3">
                <label for="leave_ty" class="form-label">Leave Type</label>
                <input type="text" class="form-control" id="leave_ty" name="leave_ty" placeholder="Enter Leave Type"
                  [(ngModel)]="leave">
              </div>
            <div class="text-center">
              <button class="btn mt-3 mybutton" type="submit">Create Leave Request</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>