<app-dashboard-header></app-dashboard-header>
<!-- <div *ngIf="selected_item == 'sales'" style="padding-top: 50px;">ydbcfhdxcfvgbhnjm</div> -->

<div class="bg">
    <h3 class="header1">Display Customer : General Data
    </h3>
    <div class="button_top">
        <a class="nav-link" routerLink="/cust/profile/edit">Edit Details
            <span style="color:blue; font-size:1.2em">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </span>
        </a>
    </div>
    <div class="d-flex flex-column mb-3">
        <div class="p-2 bd-highlight">
            <div class="d-flex justify-content-between borders">
                <div class="p-2 bd-highlight">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width>Customer</td>
                                <td>{{cookieService.get("username")}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="p-2 bd-highlight borders_1">
            <!-- <app-display-middle></app-display-middle> -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="address-tab" data-bs-toggle="tab" data-bs-target="#address"
                        type="button" role="tab" aria-controls="address" aria-selected="true">Address</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="control-tab" data-bs-toggle="tab" data-bs-target="#control"
                        type="button" role="tab" aria-controls="control" aria-selected="false">Control Data</button>
                </li>
                <!-- <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pay-tab" data-bs-toggle="tab" data-bs-target="#pay" type="button"
                        role="tab" aria-controls="pay" aria-selected="false">Payment Transactions</button>
                </li> -->
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="market-tab" data-bs-toggle="tab" data-bs-target="#market" type="button"
                        role="tab" aria-controls="market" aria-selected="false">Transport</button>
                </li>
            </ul>
            <hr class="hr-line">
            <hr class="hr-line-2">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="address" role="tabpanel" aria-labelledby="address-tab">
                    <h4>Name</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Title</td>
                                <td [innerHTML]="prof['TITLE_P']"></td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td [innerHTML]="prof['FIRSTNAME']"></td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td [innerHTML]="prof['LASTNAME']"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <h4>Search Terms</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Search term 1/2</td>
                                <td [innerHTML]="profile['SORTL']"></td>
                                <td [innerHTML]="customer['SORT2']"></td>
                            </tr>
                        </tbody>
                    </table> -->
                    <h4>Street Address</h4>
                    <div class="d-flex justify-content-between">
                        
                        <div class="p-2 bd-highlight">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>House Number</td>
                                        <td [innerHTML]="prof['HOUSE_NO']"></td>
                                    </tr>
                                    <tr>
                                        <td>Street</td>
                                        <td [innerHTML]="prof['STREET']"></td>
                                    </tr>
                                    <tr>
                                        <td>Country</td>
                                        <td [innerHTML]="prof['COUNTRY']"></td>
                                    </tr>
                                    <tr>
                                        <td>Postal Code</td>
                                        <td [innerHTML]="prof['POSTL_COD1']"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="p-2 bd-highlight">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Building</td>
                                        <td [innerHTML]="prof['BUILDING']"></td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td [innerHTML]="prof['CITY']"></td>
                                    </tr>
                                    <tr>
                                        <td>Region</td>
                                        <td [innerHTML]="prof['REGION']"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h4>Communication</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Language</td>
                                <td [innerHTML]="prof['LANGU_P']"></td>
                            </tr>
                            <tr>
                                <td>Currency</td>
                                <td [innerHTML]="prof['CURRENCY']"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="control" role="tabpanel" aria-labelledby="control-tab">
                    <h4>Account control</h4>
                    <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Vendor</td>
                                        <td [innerHTML]="onNum(customer['LIFNR'])"></td>
                                    </tr>
                                    <tr>
                                        <td>Trading Partner</td>
                                        <td [innerHTML]="onNum(customer['VBUND'])"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="p-2 bd-highlight">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Authorization</td>
                                        <td [innerHTML]="customer['BEGRU']"></td>
                                    </tr>
                                    <tr>
                                        <td>Corporate Group</td>
                                        <td [innerHTML]="customer['KONZS']"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h4>Reference data/area</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Location No. 1</td>
                                <td [innerHTML]="onNum(customer['BBBNR'])"></td>
                            </tr>
                            <tr>
                                <td>Location no.2</td>
                                <td [innerHTML]="onNum(customer['BBSNR'])"></td>
                            </tr>
                            <tr>
                                <td>Industry</td>
                                <td [innerHTML]="onNum(customer['BRSCH'])"></td>
                            </tr>
                            <tr>
                                <td>Train station</td>
                                <td [innerHTML]="customer['BAHNS']"></td>
                            </tr>
                            <tr>
                                <td>Express station</td>
                                <td [innerHTML]="customer['BAHNE']"></td>
                            </tr>
                            <tr>
                                <td>Transport zone</td>
                                <td [innerHTML]="customer['LZONE']"></td>
                            </tr>
                            <tr>
                                <td>Location code</td>
                                <td [innerHTML]="customer['LOCCO']"></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Reference data/area</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>ss number</td>
                                <td [innerHTML]="customer['STCD1']"></td>
                            </tr>
                            <tr>
                                <td>Tax Code 2</td>
                                <td [innerHTML]="customer['STCD2']"></td>
                            </tr>
                            <tr>
                                <td>Fiscal Address</td>
                                <td [innerHTML]="onNum(customer['FISKN'])"></td>
                            </tr>
                            <tr>
                                <td>Country code</td>
                                <td [innerHTML]="customer['COUNC']"></td>
                            </tr>
                            <tr>
                                <td>City Code</td>
                                <td [innerHTML]="customer['CITYC']"></td>
                            </tr>
                            <tr>
                                <td>VAT Reg. No.</td>
                                <td [innerHTML]="customer['STCEG']"></td>
                            </tr>
                            <tr>
                                <td>Tax Jur.</td>
                                <td [innerHTML]="customer['TXJCD']"></td>
                            </tr>
                            <tr>
                                <td>Tax Number 5</td>
                                <td [innerHTML]="customer['STCD5']"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="pay" role="tabpanel" aria-labelledby="pay-tab">
                    <h4>Bank Details</h4>
                    <table class="table_bt">
                        <thead>
                            <th>City</th>
                            <th>Bank Key</th>
                            <th>Bank Account</th>
                            <th>Account holder</th>
                            <th>Control Key</th>
                            <th>IBAN</th>
                            <th>IBANValue</th>
                            <th>Bank Type</th>
                            <th>Reference Details</th>
                            <th>Collection Auth</th>
                            <th>Bank Name</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                                <td [innerHTML]="customer['']"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="market" role="tabpanel" aria-labelledby="market-tab">
                    <h4>Classification</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Nielsen ID</td>
                                <td [innerHTML]="onNum(customer['NIELS'])"></td>
                            </tr>
                            <tr>
                                <td>Customer class</td>
                                <td [innerHTML]="onNum(customer['KUKLA'])"></td>
                            </tr>
                            <tr>
                                <td>Regional market</td>
                                <td [innerHTML]="customer['RPMKR']"></td>
                            </tr>
                            <tr>
                                <td>Industry</td>
                                <td [innerHTML]="onNum(customer['BRSCH'])"></td>
                            </tr>
                            <tr>
                                <td>Industry Code 1</td>
                                <td [innerHTML]="onNum(customer['BRAN1'])"></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Key Figures</h4>
                    <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Annual Sales</td>
                                        <td [innerHTML]="onNum(customer['UMSAT'])"></td>
                                    </tr>
                                    <tr>
                                        <td>Employees</td>
                                        <td [innerHTML]="onNum(customer['JMZAH'])"></td>
                                    </tr>
                                    <tr>
                                        <td>FI Yea Variant</td>
                                        <td [innerHTML]="onNum(customer['PERIV'])"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="p-2 bd-highlight">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>in</td>
                                        <td [innerHTML]="customer['UMJAH']"></td>
                                    </tr>
                                    <tr>
                                        <td>in</td>
                                        <td [innerHTML]="customer['JMJAH']"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h4>Sales Prospecting</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Legal status</td>
                                <td [innerHTML]="onNum(customer['GFORM'])"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>