<div id="bg">
    <div class="jumbotron">
        <h1 class="display-6" style = "text-align: center;">About Kaar Technologies</h1>
            <img src="../../../../assets/Kaar_Logo.png" alt="Company Logo" class="center">
        <!-- <hr class="my-4">
        <h1 class="display-6" style = "text-align: center;">Vision</h1>
        <p class="lead">
            To transform our customer organizations by offering best-in-class SAP services and to become the best and largest pure play SAP Services Provider in the World.
        </p>
        <h1 class="display-6" style = "text-align: center;">Mission</h1>
        <p class="lead">
            To remain a socially responsible corporate entity, which will instill a sense of pride, joy and accomplishment, in every facet of its interaction, to everyone associated, be it the employees, customers, vendors or stakeholders.
        </p> -->
    </div>
    <div class="container">
        <p class="lead"> Kaar Technologies is a global consulting firm which focusses on providing SAP solutions and services accross the globe. It is a CMMi Level 3 company.</p>
        <h1 class="display-6" style = "text-align: center;">Vision</h1>
        <p class="lead">
            To transform our customer organizations by offering best-in-class SAP services and to become the best and largest pure play SAP Services Provider in the World.
        </p>
        <h1 class="display-6" style = "text-align: center;">Mission</h1>
        <p class="lead">
            To remain a socially responsible corporate entity, which will instill a sense of pride, joy and accomplishment, in every facet of its interaction, to everyone associated, be it the employees, customers, vendors or stakeholders.
        </p>
    </div>
</div>