<app-dashboard-header></app-dashboard-header>
<div id=bg>
    <div class="top_content">
        Welcome !
        <div class="top_header">
            <fa-icon [icon]="faCubes"></fa-icon> Finance Dashboard
        </div>
    </div>
</div>
<div class="content">
    <div class="d-flex justify-content-around" style="text-align: center;">
        <div class="p-2 bd-highlight contents">
            <div style="font-size: 2em; color:white;">
                <fa-icon [icon]="faStickyNote"></fa-icon>
            </div>
            <h5 style="padding-top: 30px;">Invoice</h5>
            <a routerLink="/cust/invoice/create" class="nav-link">Create</a> |
            <!-- <a routerLink="/cust/inquiry/create" class="nav-link">Create</a> |  -->
            <a routerLink="/cust/invoice/display" class="nav-link">Display</a>
        </div>
        <div class="line">|</div>
        <div class="p-2 bd-highlight contents">
            <div style="font-size: 2em; color:white;">
                <fa-icon [icon]="faStickyNote"></fa-icon>
            </div>
            <h5 style="padding-top: 30px;">Payments and Aging</h5>
            <a routerLink="/cust/aging/list" class="nav-link">Get List</a>
        </div>
        <div class="line">|</div>
        <div class="p-2 bd-highlight contents">
            <div style="font-size: 2em; color:white;">
                <fa-icon [icon]="faStickyNote"></fa-icon>
            </div>
            <h5 style="padding-top: 30px;">Credit/Debit Memo</h5>
            <a routerLink="/cust/memo/list/credit" class="nav-link">Credit </a> | 
            <a routerLink="/cust/memo/list/debit" class="nav-link"> Debit</a>
            <!-- <a href="#" class="nav-link">Create</a> |  -->
            <!-- <a routerLink="/cust/memo/display-form" class="nav-link">Display</a> -->
        </div>
        <div class="line">|</div>
        <div class="p-2 bd-highlight contents">
            <div style="font-size: 2em; color:white;">
                <fa-icon [icon]="faStickyNote"></fa-icon>
            </div>
            <h5 style="padding-top: 30px;">Overall Sales Data</h5>
            <a routerLink="/cust/sales-data" class="nav-link">Execute</a> 
        </div>
    </div>
</div>