<app-login-header></app-login-header>
<div class="d-flex justify-content-center pt-5"   id = "login_bg">
<div class="card bg-dark text-white" style="width: 18rem;">
    <div class="card-body pt-5 pb-5">
      <h3 class="card-title text-center ps-3 pe-3 pb-3">LOGIN</h3>
      <div class="card-text">
        <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" placeholder="Enter Password">
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-outlint-white mt-3" href="#" role="button">Login</a>
    </div>
    </div>
    </div>
  </div>
</div>
